
.herokeyboard {
    position: absolute;
    width: 36em;
    top: 50%;               
    left: 50%;              
    transform: translate(-50%, -50%);
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 36em;
    margin: auto;
    justify-content: center;
    align-items: center;
    column-gap: 0.4em;
    row-gap: 1em;
}

.keys {
    background-color: var(--keyboard);
    width: 3em;
    height:3em;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
}
.ctrl {
    width: 4.2em;
}
.enter {
    width: 6em;
}
