
.herokeyboard {
    position: absolute;
    width: 36em;
    top: 50%;               
    left: 50%;              
    transform: translate(-50%, -50%);
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 36em;
    margin: auto;
    justify-content: center;
    align-items: center;
    column-gap: 0.4em;
    row-gap: 1em;
}
.keys {
    width: 3em;
    height:3em;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: var(--text);
    box-shadow: 0rem 0 .75rem var(--keyshadow);
    transition: transform 1s, background-color 0.2s ease-in-out;
}
.ctrl {
    width: 4.2em;
}
.enter {
    width: 6em;
}

.clicked {
    transform: scale(1.1); 
    background-color: rgba(95, 158, 160 , .70); 
}

.name {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    color: var(--text);
}

.myName {
    font-size: 50px;
    letter-spacing: 5px;
    color: cadetblue;
}

.deg {
    padding-left: 4px;
    font-size: 18px;
}

.split .keys {
    transform: translate(calc(100px * var(--x, 0)), calc(100px * var(--y, 0)));
}

.photo {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 100em;
    transition: all 1s;
}

.animate {
    width: 214px;
    height: 214px;
    top: 35%;
    left: 15%;
}

